// import variables from _var.scss
@import "var";

@each $icon, $content in $ni-doutone{
    .nid.#{$icon}:before { 
        content:"#{$content}"; 
    }
}

@font-face {
    font-family: 'niCons doutone';
    font-style: normal;
    font-weight: 900;
    font-display: $icon-display;
    src:    url('#{$icon-path}/duotone-900.eot');
    src:    url('#{$icon-path}/duotone-900.eot?#iefix') format('embedded-opentype'),
            url('#{$icon-path}/duotone-900.woff2') format('woff2'),
            url('#{$icon-path}/duotone-900.woff') format('woff'),
            url('#{$icon-path}/duotone-900.ttf') format('truetype'),
            url('#{$icon-path}/duotone-900.svg#nicons') format('svg');
}
  
.#{$css-prefix},
.#{$css-prefix}d {
    position: relative;
    font-family: 'niCons doutone';
    font-weight: 900;
}